<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav mr-auto">
    <!-- icons from page: https://icons8.com/  -->
    <li class="nav-item">
        <a routerLink="products" class="nav-link" routerLinkActive="active"><img class="imgg" src='assets/icons/list.png'>Product List</a>
    </li>
    <li class="nav-item">
        <a routerLink="add" class="nav-link" routerLinkActive="active"><img class="imgg" src='assets/icons/add.png'>Add Product</a>
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a routerLink="carts" class="nav-link" routerLinkActive="active"><img class="imgg" src='assets/icons/cart.png'>Cart</a>
    </li>
    <li class="nav-item">
        <a routerLink="orders" class="nav-link" routerLinkActive="active"><img class="imgg" src='assets/icons/order.png'>Order</a>
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>

<div *ngIf="router.url === '/'">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/0.jpg" alt="Random first slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/1.jpg" alt="Random second slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/2.jpg" alt="Random third slide">
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="assets/images/3.jpg" alt="Random fourth slide">
      </div>
    </ng-template>
</ngb-carousel>
</div>

  <br/> <br/>
  <div class="container container-fluid" style="float: left">
    <h5><a [routerLink]="['/logout']">Logout</a></h5>
  </div>

    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>Study project</span>
  </div>
</footer>
