<h3>Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="categoryName" required [(ngModel)]="employee.categoryName" name="categoryName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="description" required [(ngModel)]="employee.description" name="description">
    </div>

    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="picture" required [(ngModel)]="employee.picture" name="picture">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
