<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Orders</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order</th>
          <th>Customer name</th>
          <th>Customer email</th>
          <th>Customer phone</th>
          <th>Invoice address</th>
          <th>Order data</th>
          <th>Details</th>
          <th style="text-align: center">Proforma invoice</th>
          <th style="text-align: center">VAT invoice</th>
          <th style="text-align: center">Delivery</th>
        </tr>
      </thead>
      <tbody>
      <tr id="orderRow" *ngFor="let order of orders | async">
        <td>{{order.id}}</td>
        <td>{{order.customer.name}}</td>
        <td>{{order.customer.customerEmail}}</td>
        <td>{{order.customer.customerPhone}}</td>
        <td>{{order.customer.address.city}}, {{order.customer.address.code}},
          ul. {{order.customer.address.street}} {{order.customer.address.house_no}}</td>
        <td>{{order.createDate | date}}</td>
        <td>
          <button (click)="showDetails(order.id)" class="btn btn-info" style="margin-left: 10px">Show details</button>
        </td>
        <td>
          <button (click)="openInNewTabProformaInvoice(order.id)" class="btn btn-info"
                  style="margin-left: 10px">{{proformaInvoicesNames.get(order.id)}}</button>
        </td>
        <td>
          <button (click)="createOrOpenVatInvoice(order.id)" class="btn btn-info"
                  style="margin-left: 10px">{{vatInvoicesNames.get(order.id)}}</button>
        </td>
        <td>
          <button (click)="showDelivery(order.id)" class="btn btn-info" style="margin-left: 10px">Show Delivery</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
