<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Orders</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Order</th>
          <th>Customer name</th>
          <th>Customer email</th>
          <th>Customer phone</th>
          <th>Shipping address</th>
          <th>Order data</th>
          <th>Action</th>
          <th>Invoice</th>
        </tr>
      </thead>
      <tbody>
      <tr *ngFor="let order of orders | async">
        <td>{{order.id}}</td>
        <td>{{order.customer.companyName}}</td>
        <td>{{order.customer.customerEmail}}</td>
        <td>{{order.customer.customerPhone}}</td>
        <td>{{order.customer.shippingAddress}}</td>
        <td>{{order.createDate | date}}</td>
        <td>
          <button (click)="showDetails(order.id)" class="btn btn-info" style="margin-left: 10px">Show</button>
        </td>
        <td>
          <button (click)="downloadInvoice(order.id)" class="btn btn-info"
                  style="margin-left: 10px">{{invoicesNames.get(order.id)}}</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
