<div class="panel panel-primary">
  <div class="panel-heading">
    <h2>Employee List</h2>
  </div>
  <div class="panel-body">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>CategoryName</th>
          <th>Description</th>
          <th>Picture</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let category of categories | async">
          <td>{{category.categoryName}}</td>
          <td>{{category.description}}</td>
          <td>{{category.picture}}</td>
          <td><button (click)="deleteEmployee(category.id)" class="btn btn-danger">Delete</button>
              <button (click)="updateEmployee(category.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
              <button (click)="employeeDetails(category.id)" class="btn btn-info" style="margin-left: 10px">Details</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
