#remove {
  background-color: #FF6347;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  margin: 4px 4px 4px 0px;
}

.pointer {
  cursor: pointer;
  margin: 5px;
}

form {
  display: table;
}

div {
  display: table-row;
}

label {
  display: table-cell;
}

input {
  display: table-cell;
  margin-left: 30px;
  font-size: 10.5pt;
}

